In [1]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [2]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read() )

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUï¿½OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [3]:
class Array:
  def __init__( self , tam ):
    self.__tamanio = tam
    self.__data = [ 0 for x in range(self.__tamanio) ]

  def to_string( self ):
    info = ""
    for dato in self.__data:
      info = info + str(dato) +"|"
      return info

  def get_item( self , index ):
    return self.__data[index]

  def get_length( self ):
    return len( self.__data )

  def set_item( self , dato , index):
    # hace falta revisar limites
    if index >= 0 and index < self.get_length():
      self.__data[index] = dato
    else:
      print("Error: indice fuera de rango")

  def clear( self , dato ):
    self.__data = [ dato for x in range(self.__tamanio) ]

In [4]:
class Trabajador:
  def __init__( self, nt, nom, pat, mat, he, sb, ai ):
    self.__numero_trabajador = nt
    self.__nombre = nom
    self.__paterno = pat
    self.__materno = mat
    self.__horas_extras = he
    self.__sueldo_base = sb
    self.__anio_ingreso = ai

  def set_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt
  def get_numero_trabajador( self ):
    return self.__numero_trabajador

  def set_nombre( self , nom ):
    self.__nombre = nom
  def get_nombre( self ):
    return self.__nombre

  def set_paterno( self , pat ):
    self.__paterno = pat
  def get_paterno( self ):
    return self.__paterno

  def set_materno( self , mat ):
    self.__materno = mat
  def get_materno( self ):
    return self.__materno

  def set_horas_extras( self , he ):
    self.__horas_extras = he
  def get_horas_extra( self ):
    return self.__horas_extras

  def set_sueldo_base( self , sb ):
    self.__sueldo_base = sb
  def get_sueldo_base( self ):
    return self.__sueldo_base

  def set_anio_ingreso( self , ai ):
    self.__anio_ingreso = ai
  def get_anio_ingreso( self ):
    return self.__anio_ingreso


  def calcular_sueldo_mensual( self ):
    anios = 2021 - self.get_anio_ingreso()
    sueldo = self.get_sueldo_base()
    sueldo += self.get_horas_extra() * 276.5
    sueldo = sueldo + ( sueldo * anios * 0.03 )
    return sueldo

  def to_string( self ):
    return 'Nombre: ' + self.__nombre + ' Sueldo: $' + str( self.calcular_sueldo_mensual() )

  def calcular_antiguedad( self ):
    return 2021 - self.get_anio_ingreso()

emp = Trabajador(2345,'Carlos','Perez','Castillo',1,9850,2017)
print(emp.get_sueldo_base())
print(emp.get_horas_extra() )
print(emp.calcular_antiguedad() )
print(emp.to_string() )

9850
1
4
Nombre: Carlos Sueldo: $11341.68

In [13]:
class NominaADT:
  def __init__( self , ruta_archivo ):
    archivo = open( ruta_archivo , 'rt' , encoding='latin-1' )
    empleados = archivo.readlines()
    del empleados[0]

    for index in range( len( empleados ) ):
      empleados[index] = empleados[index].strip().split(',')
    
    self.__data = Array( len( empleados ) )
    cont = 0
    
    for emp in empleados:
      tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )  
      self.__data.set_item( tmp , cont)
      cont += 1

  def buscar_mas_antiguo( self ):
     archivo = open( 'junio.dat' , 'rt' , encoding='latin-1' )
     empleados = archivo.readlines()
     del empleados[0]
     for index in range( len( empleados ) ):
      empleados[index] = empleados[index].strip().split(',')
     o=2021
     for emp in empleados:
      tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )  
      r=(int(emp[6]))
      if r<o:
        o = r
     print("\n-.-.-.-.-.El trabajador mas longevo es:-.-.-..-.-.-.-")
     for emp in empleados:
      tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )
      if int(emp[6])==o:
        print("Numero de empleado: {0}, Nombre: {1}, Paterno: {2}, Materno: {3}, Horas ex.: {4}, Sueldo Base: {5}, Ingreso: {6}".format(emp[0], emp[1], emp[2], emp[3], emp[4], emp[5], emp[6]))

  def Buscar_menor_antiguedad( self ):
    archivo = open( 'junio.dat' , 'rt' , encoding='latin-1' )
    empleados = archivo.readlines()
    del empleados[0]
    for index in range( len( empleados ) ):
      empleados[index] = empleados[index].strip().split(',')
    c=0
    for emp in empleados:
      tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )
      r=(int(emp[6]))
      if r>c:
        c = r
    print("\n-.-.-.-.-.El trabajador mas nuevo es:-.-.-..-.-.-.-")
    for emp in empleados:
      tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )
      if int(emp[6])==c:
        print("Numero de empleado: {0}, Nombre: {1}, Paterno: {2}, Materno: {3}, Horas ex.: {4}, Sueldo Base: {5}, Ingreso: {6}".format(emp[0], emp[1], emp[2], emp[3], emp[4], emp[5], emp[6]))


  def calcular_sueldos( self ):
    for index in range( self.__data.get_length() ):
      print( self.__data.get_item(index).to_string() )
      

ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()
ejemplo.buscar_mas_antiguo()
ejemplo.Buscar_menor_antiguedad()

Nombre: CARLOS Sueldo: $11032.0
Nombre: ANGEL Sueldo: $10430.295
Nombre: JESUS Sueldo: $11963.45
Nombre: DAVID Sueldo: $11651.36
Nombre: PEDRO Sueldo: $11651.36
Nombre: DANIEL Sueldo: $11640.655
Nombre: ALEJANDRO Sueldo: $11339.27
Nombre: MARIA Sueldo: $11037.885
Nombre: ALBERTO Sueldo: $11341.68
Nombre: RAFAEL Sueldo: $11651.36
Nombre: FERNANDO Sueldo: $11613.36
Nombre: PABLO Sueldo: $10734.09
Nombre: JORGE Sueldo: $10715.09
Nombre: RAMON Sueldo: $11645.475

-.-.-.-.-.El trabajador mas longevo es:-.-.-..-.-.-.-
Numero de empleado: 5345, Nombre: JESUS, Paterno: MARTIN, Materno: SANTOS, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2016
Numero de empleado: 2232, Nombre: RAMON, Paterno: NAVARRO, Materno: LEON, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2016

-.-.-.-.-.El trabajador mas nuevo es:-.-.-..-.-.-.-
Numero de empleado: 5754, Nombre: ANGEL, Paterno: GOMEZ, Materno: GARRIDO, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2020
Numero de empleado: 4323, Nombre: JORGE, Paterno: GUTIERREZ, Materno: MARQUEZ, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2020