In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [1]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read() )

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [5]:
class Trabajador:
  def __init__( self, nt, nom, pat, mat, he, sb, ai ):
    self.__numero_trabajador = nt
    self.__nombre = nom
    self.__paterno = pat
    self.__materno = mat
    self.__horas_extras = he
    self.__seldo_base = sb
    self.__ano_ingreso = ai

  def set_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt
  def get_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt

  def set_nombre( self , nom ):
    self.__nombre = nom
  def get_nombre( self , nom ):
    self.__nombre = nom

  def set_paterno( self , pat ):
    self.__paterno = pat
  def get_paterno( self , pat):
    self.__paterno = pat

  def set_materno( self , mat ):
    self.__materno = mat
  def get_materno( self , mat ):
    self.__materno = mat

  def set_horas_extras( self , he):
    self.__horas_extras = he
  def get_horas_extras( self , he ):
    self.__horas_extras = he

  def set_saldo_base( self , sb ):
    self.__seldo_base = sb
  def get_saldo_base( self , sb ):
    self.__seldo_base = sb

  def set_ano_ingreso( self , ai ):
    self.__ano_ingreso = ai
  def get_ano_ingreso( self , ai ):
    self.__ano_ingreso = ai

In [59]:
import csv

print("----------------------------------------------------------------------------------------------------")
print("Intente hacerlo con Array (POO) y no me salió, pero quise almenos entregarlo usando otra forma ")
print("----------------------------------------------------------------------------------------------------\n")

lista = [0, 0]
c = 0
o = 2021

with open('junio.dat') as n:
  reader = csv.reader(n)
  for row in reader:
    print("Numero de empleado: {0}, Nombre: {1}, Paterno: {2}, Materno: {3}, Horas ex.: {4}, Sueldo Base: {5}, Ingreso: {6}".format(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))
    print("Sueldo Resultante: ", int(row[5])+((2021-int(row[6]))*(int(row[5])*0.03)))
    print("")
    r=(int(row[6]))
    if r>c:
      c=r
    if r<o:
      o = r

with open('junio.dat') as n:     
  reader = csv.reader(n)
  print("\n-.-.-.-.-.El trabajador mas nuevo es:-.-.-..-.-.-.-")
  for row in reader:
    if int(row[6])==c:
      print("Numero de empleado: {0}, Nombre: {1}, Paterno: {2}, Materno: {3}, Horas ex.: {4}, Sueldo Base: {5}, Ingreso: {6}".format(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))

with open('junio.dat') as n:     
  reader = csv.reader(n)
  print("\n-.-.-.-.-.El trabajador mas longevo es:-.-.-..-.-.-.-")
  for row in reader:
    if int(row[6])==o:
      print("Numero de empleado: {0}, Nombre: {1}, Paterno: {2}, Materno: {3}, Horas ex.: {4}, Sueldo Base: {5}, Ingreso: {6}".format(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))

----------------------------------------------------------------------------------------------------
Intente hacerlo con Array (POO) y no me salió, pero quise almenos entregarlo usando otra forma
----------------------------------------------------------------------------------------------------

Numero de empleado: 2345, Nombre: CARLOS, Paterno: PEREZ, Materno: CASTILLO, Horas ex.: 0, Sueldo Base: 9850, Ingreso: 2017
Sueldo Resultante:  11032.0

Numero de empleado: 5754, Nombre: ANGEL, Paterno: GOMEZ, Materno: GARRIDO, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2020
Sueldo Resultante:  10145.5

Numero de empleado: 5345, Nombre: JESUS, Paterno: MARTIN, Materno: SANTOS, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2016
Sueldo Resultante:  11327.5

Numero de empleado: 3267, Nombre: DAVID, Paterno: JIMENEZ, Materno: LOZANO, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2017
Sueldo Resultante:  11032.0

Numero de empleado: 8765, Nombre: PEDRO, Paterno: RUIZ, Materno: GUERRERO, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2017
Sueldo Resultante:  11032.0

Numero de empleado: 5454, Nombre: DANIEL, Paterno: HERNANDEZ, Materno: CANO, Horas ex.: 3, Sueldo Base: 9850, Ingreso: 2018
Sueldo Resultante:  10736.5

Numero de empleado: 3456, Nombre: ALEJANDRO, Paterno: DIAZ, Materno: PRIETO, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2018
Sueldo Resultante:  10736.5

Numero de empleado: 3445, Nombre: MARIA, Paterno: MORENO, Materno: MENDEZ, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2018
Sueldo Resultante:  10736.5

Numero de empleado: 9088, Nombre: ALBERTO, Paterno: MU�OZ, Materno: CRUZ, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2017
Sueldo Resultante:  11032.0

Numero de empleado: 8877, Nombre: RAFAEL, Paterno: ALVAREZ, Materno: FLORES, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2017
Sueldo Resultante:  11032.0

Numero de empleado: 6767, Nombre: FERNANDO, Paterno: ROMERO, Materno: HERRERA, Horas ex.: 4, Sueldo Base: 9850, Ingreso: 2019
Sueldo Resultante:  10441.0

Numero de empleado: 5654, Nombre: PABLO, Paterno: ALONSO, Materno: GALLEGO, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2019
Sueldo Resultante:  10441.0

Numero de empleado: 4323, Nombre: JORGE, Paterno: GUTIERREZ, Materno: MARQUEZ, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2020
Sueldo Resultante:  10145.5

Numero de empleado: 2232, Nombre: RAMON, Paterno: NAVARRO, Materno: LEON, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2016
Sueldo Resultante:  11327.5


-.-.-.-.-.El trabajador mas nuevo es:-.-.-..-.-.-.-
Numero de empleado: 5754, Nombre: ANGEL, Paterno: GOMEZ, Materno: GARRIDO, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2020
Numero de empleado: 4323, Nombre: JORGE, Paterno: GUTIERREZ, Materno: MARQUEZ, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2020

-.-.-.-.-.El trabajador mas longevo es:-.-.-..-.-.-.-
Numero de empleado: 5345, Nombre: JESUS, Paterno: MARTIN, Materno: SANTOS, Horas ex.: 2, Sueldo Base: 9850, Ingreso: 2016
Numero de empleado: 2232, Nombre: RAMON, Paterno: NAVARRO, Materno: LEON, Horas ex.: 1, Sueldo Base: 9850, Ingreso: 2016