In [3]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [8]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read() )

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [11]:
class Trabajador:
  def __init__( self, nt, nom, pat, mat, he, sb, ai ):
    self.__numero_trabajador = nt
    self.__nombre = nom
    self.__paterno = pat
    self.__materno = mat
    self.__horas_extras = he
    self.__seldo_base = sb
    self.__ano_ingreso = ai

  def set_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt
  def get_numero_trabajador( self , nt ):
    self.__numero_trabajador = nt

SyntaxError: ignored

In [14]:
class NominaADT:
  def __init__(self , junio.dat):

    self.__data=Array( num_emp )

  def calcular_sueldos(self):

  def buscar_mas_antiguo(self):

  def buscar_menor_antiguo(self):

SyntaxError: ignored